@charset "UTF-8";
@layer reset, print, atom, molecules, organisms, template, page, utillity;
@layer atom.typography {
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1rem;
  }
  .text-xs {
    font-size: 18px;
    color: var(--gray700);
  }
  .text-base {
    font-size: 20px;
    color: var(--gray700);
  }
  .text-base.type1 {
    padding-top: 10px;
  }
  .text-primary {
    color: var(--gray800);
  }
  .text-secondary {
    color: #00ff00;
  }
  .text-info {
    color: #0000ff;
  }
  strong[class*=text-],
  b[class*=text-] {
    font-weight: var(--fw, 700);
  }
  .link {
    text-decoration: underline 2px;
    text-decoration-color: red;
    text-underline-offset: 3px;
  }
}
@layer reset {
  /* -------------------------------------------------------------------------- */
  /*                                    Reset                                   */
  /* -------------------------------------------------------------------------- */
  :where(h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  p,
  blockquote,
  pre,
  code,
  address,
  ul,
  ol,
  li,
  nav,
  section,
  article,
  header,
  footer,
  main,
  aside,
  dl,
  dt,
  dd,
  table,
  thead,
  tbody,
  tfoot,
  label,
  caption,
  th,
  td,
  form,
  fieldset,
  legend,
  hr,
  input,
  button,
  textarea,
  object,
  figure,
  figcaption,
  span,
  em,
  strong,
  i,
  b,
  u,
  ins,
  dialog) {
    margin: 0;
    padding: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  }
  :where(body, input, select, textarea, button, img, fieldset) {
    border: none;
  }
  :where(ul, ol, li, summary) {
    list-style: none;
  }
  :where(table) {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
  }
  :where(address, cite, code, em, i) {
    font-style: normal;
    font-weight: normal;
  }
  :where(u, ins, a) {
    text-decoration: none;
  }
  :where(button) {
    background-color: unset;
  }
  :where(a) {
    color: inherit;
  }
  :where(button, label, select, summary, [role=button], [role=option]) {
    cursor: pointer;
  }
  :where(:disabled, :disabled + label) {
    cursor: not-allowed;
  }
  :where(input, button, textarea, select) {
    font: inherit;
    color: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
  }
  /* -------------------------------------------------------------------------- */
  /*                                  Normalize                                 */
  /* -------------------------------------------------------------------------- */
  :where(input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button) {
    -webkit-appearance: none;
  }
  :where(input[type=number]) {
    -moz-appearance: textfield;
  }
  :where(input[type=number],
  input[type=text],
  input[type=password],
  input[type=url],
  input[type=email],
  input[type=tel],
  input[type=date],
  textarea) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }
  :where(input[type=search]::-webkit-search-decoration,
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-results-button,
  input[type=search]::-webkit-search-results-decoration) {
    -webkit-appearance: none;
  }
  :where(input[type=date]) {
    position: relative;
  }
  :where(input[type=date]::-webkit-clear-button, input[type=date]::-webkit-inner-spin-button) {
    display: none;
  }
  :where(input[type=date]::-webkit-calendar-picker-indicator) {
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  :where(input[type=date]::before) {
    content: attr(data-placeholder);
    width: 100%;
  }
  :where(input[type=date]:valid::before) {
    display: none;
  }
  :where(select) {
    appearance: none;
  }
  :where(html) {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    -webkit-text-size-adjust: none;
  }
  :where(body) {
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }
  :where(caption, legend, .a11y-hidden) {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  :where(summary::-webkit-details-marker) {
    display: none;
  }
  :where(dialog, [popover]) {
    width: auto;
    height: auto;
    border: none;
  }
}
@layer atom.variable {
  :root {
    --white: #ffffff;
    --black: #000;
    --gray900: #2d2d2d;
    --gray800: #555555;
    --gray700: #717171;
    --gray600: #8e8e8e;
    --gray500: #c6c6c6;
    --gray400: #d8d8d8;
    --gray300: #e4e4e4;
    --gray200: #f0f0f0;
    --gray100: #f8f8f8;
    --red900: #2e0507;
    --red800: #5c0a0f;
    --red700: #8b0e16;
    --red600: #b9131e;
    --red500: #e71825;
    --red400: #ec4651;
    --red300: #f1747c;
    --red200: #f5a3a8;
    --red100: #fbd6d8;
    --yellow900: #4d370b;
    --yellow800: #66490e;
    --yellow700: #98690a;
    --yellow600: #ffb724;
    --yellow500: #ffc550;
    --yellow400: #ffd47c;
    --yellow300: #ffe2a7;
    --yellow200: #ffeac1;
    --yellow100: #fff8e9;
    --green900: #00370c;
    --green800: #005312;
    --green700: #006e18;
    --green600: #008a1e;
    --green500: #33a14b;
    --green400: #8cca99;
    --green300: #b2dcbb;
    --green200: #cee9d4;
    --green100: #eef7f0;
    --blue900: #07152f;
    --blue800: #0e2b5e;
    --blue700: #16408d;
    --blue600: #1d56bc;
    --blue500: #246beb;
    --blue400: #5089ef;
    --blue300: #7ca6f3;
    --blue200: #a7c4f7;
    --blue100: #d3e1fb;
    --primary: var(--blue600);
    --secondary: var(--gray600);
    --danger: var(--red600);
    --success: var(--green600);
    --font-xs: 1.2rem;
    --font-sm: 1.4rem;
    --font-base: 1.6rem;
    --font-md: 1.8rem;
    --font-lg: 2rem;
    --font-xl: 2.2rem;
    --lh-sm: 1.2;
    --lh-base: 1.5;
    --lh-md: 1.8;
    --ls-sm: -0.02rem;
    --ls-base: 0;
    --ls-md: 0.01rem;
  }
}
@layer utillity {
  .align {
    display: flex;
  }
  .align.right {
    justify-content: flex-end;
  }
  .align.center {
    justify-content: center;
  }
  .align.both {
    justify-content: space-between;
  }
  .align.triple {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
  }
  .align.triple > :nth-child(1) {
    justify-self: start;
    white-space: nowrap;
  }
  .align.triple > :nth-child(2) {
    justify-self: center;
  }
  .align.triple > :nth-child(3) {
    white-space: nowrap;
    justify-self: end;
  }
  .align.vt {
    align-items: flex-start;
  }
  .align.vm {
    align-items: center;
  }
  .align.vb {
    align-items: flex-end;
  }
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
}
.mt1 {
  margin-top: 1px;
}

.ml1 {
  margin-left: 1px;
}

.mr1 {
  margin-right: 1px;
}

.mb1 {
  margin-bottom: 1px;
}

.mx1 {
  margin-inline: 1px;
}

.my1 {
  margin-block: 1px;
}

.pt1 {
  padding-top: 1px;
}

.pl1 {
  padding-left: 1px;
}

.pr1 {
  padding-right: 1px;
}

.pb1 {
  padding-bottom: 1px;
}

.px1 {
  padding-inline: 1px;
}

.py1 {
  padding-block: 1px;
}

@media (width < 1024px) {
  .m-mt1 {
    margin-top: 1px;
  }
  .m-ml1 {
    margin-left: 1px;
  }
  .m-mr1 {
    margin-right: 1px;
  }
  .m-mb1 {
    margin-bottom: 1px;
  }
  .m-mx1 {
    margin-inline: 1px;
  }
  .m-my1 {
    margin-block: 1px;
  }
}
@media (width < 1280px) {
  .t-mt1 {
    margin-top: 1px;
  }
  .t-ml1 {
    margin-left: 1px;
  }
  .t-mr1 {
    margin-right: 1px;
  }
  .t-mb1 {
    margin-bottom: 1px;
  }
  .t-mx1 {
    margin-inline: 1px;
  }
  .t-my1 {
    margin-block: 1px;
  }
}
.mt2 {
  margin-top: 2px;
}

.ml2 {
  margin-left: 2px;
}

.mr2 {
  margin-right: 2px;
}

.mb2 {
  margin-bottom: 2px;
}

.mx2 {
  margin-inline: 2px;
}

.my2 {
  margin-block: 2px;
}

.pt2 {
  padding-top: 2px;
}

.pl2 {
  padding-left: 2px;
}

.pr2 {
  padding-right: 2px;
}

.pb2 {
  padding-bottom: 2px;
}

.px2 {
  padding-inline: 2px;
}

.py2 {
  padding-block: 2px;
}

@media (width < 1024px) {
  .m-mt2 {
    margin-top: 2px;
  }
  .m-ml2 {
    margin-left: 2px;
  }
  .m-mr2 {
    margin-right: 2px;
  }
  .m-mb2 {
    margin-bottom: 2px;
  }
  .m-mx2 {
    margin-inline: 2px;
  }
  .m-my2 {
    margin-block: 2px;
  }
}
@media (width < 1280px) {
  .t-mt2 {
    margin-top: 2px;
  }
  .t-ml2 {
    margin-left: 2px;
  }
  .t-mr2 {
    margin-right: 2px;
  }
  .t-mb2 {
    margin-bottom: 2px;
  }
  .t-mx2 {
    margin-inline: 2px;
  }
  .t-my2 {
    margin-block: 2px;
  }
}
.mt3 {
  margin-top: 3px;
}

.ml3 {
  margin-left: 3px;
}

.mr3 {
  margin-right: 3px;
}

.mb3 {
  margin-bottom: 3px;
}

.mx3 {
  margin-inline: 3px;
}

.my3 {
  margin-block: 3px;
}

.pt3 {
  padding-top: 3px;
}

.pl3 {
  padding-left: 3px;
}

.pr3 {
  padding-right: 3px;
}

.pb3 {
  padding-bottom: 3px;
}

.px3 {
  padding-inline: 3px;
}

.py3 {
  padding-block: 3px;
}

@media (width < 1024px) {
  .m-mt3 {
    margin-top: 3px;
  }
  .m-ml3 {
    margin-left: 3px;
  }
  .m-mr3 {
    margin-right: 3px;
  }
  .m-mb3 {
    margin-bottom: 3px;
  }
  .m-mx3 {
    margin-inline: 3px;
  }
  .m-my3 {
    margin-block: 3px;
  }
}
@media (width < 1280px) {
  .t-mt3 {
    margin-top: 3px;
  }
  .t-ml3 {
    margin-left: 3px;
  }
  .t-mr3 {
    margin-right: 3px;
  }
  .t-mb3 {
    margin-bottom: 3px;
  }
  .t-mx3 {
    margin-inline: 3px;
  }
  .t-my3 {
    margin-block: 3px;
  }
}
.mt4 {
  margin-top: 4px;
}

.ml4 {
  margin-left: 4px;
}

.mr4 {
  margin-right: 4px;
}

.mb4 {
  margin-bottom: 4px;
}

.mx4 {
  margin-inline: 4px;
}

.my4 {
  margin-block: 4px;
}

.pt4 {
  padding-top: 4px;
}

.pl4 {
  padding-left: 4px;
}

.pr4 {
  padding-right: 4px;
}

.pb4 {
  padding-bottom: 4px;
}

.px4 {
  padding-inline: 4px;
}

.py4 {
  padding-block: 4px;
}

@media (width < 1024px) {
  .m-mt4 {
    margin-top: 4px;
  }
  .m-ml4 {
    margin-left: 4px;
  }
  .m-mr4 {
    margin-right: 4px;
  }
  .m-mb4 {
    margin-bottom: 4px;
  }
  .m-mx4 {
    margin-inline: 4px;
  }
  .m-my4 {
    margin-block: 4px;
  }
}
@media (width < 1280px) {
  .t-mt4 {
    margin-top: 4px;
  }
  .t-ml4 {
    margin-left: 4px;
  }
  .t-mr4 {
    margin-right: 4px;
  }
  .t-mb4 {
    margin-bottom: 4px;
  }
  .t-mx4 {
    margin-inline: 4px;
  }
  .t-my4 {
    margin-block: 4px;
  }
}
.mt20 {
  margin-top: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mx20 {
  margin-inline: 20px;
}

.my20 {
  margin-block: 20px;
}

.pt20 {
  padding-top: 20px;
}

.pl20 {
  padding-left: 20px;
}

.pr20 {
  padding-right: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.px20 {
  padding-inline: 20px;
}

.py20 {
  padding-block: 20px;
}

@media (width < 1024px) {
  .m-mt20 {
    margin-top: 20px;
  }
  .m-ml20 {
    margin-left: 20px;
  }
  .m-mr20 {
    margin-right: 20px;
  }
  .m-mb20 {
    margin-bottom: 20px;
  }
  .m-mx20 {
    margin-inline: 20px;
  }
  .m-my20 {
    margin-block: 20px;
  }
}
@media (width < 1280px) {
  .t-mt20 {
    margin-top: 20px;
  }
  .t-ml20 {
    margin-left: 20px;
  }
  .t-mr20 {
    margin-right: 20px;
  }
  .t-mb20 {
    margin-bottom: 20px;
  }
  .t-mx20 {
    margin-inline: 20px;
  }
  .t-my20 {
    margin-block: 20px;
  }
}
.mt6 {
  margin-top: 6px;
}

.ml6 {
  margin-left: 6px;
}

.mr6 {
  margin-right: 6px;
}

.mb6 {
  margin-bottom: 6px;
}

.mx6 {
  margin-inline: 6px;
}

.my6 {
  margin-block: 6px;
}

.pt6 {
  padding-top: 6px;
}

.pl6 {
  padding-left: 6px;
}

.pr6 {
  padding-right: 6px;
}

.pb6 {
  padding-bottom: 6px;
}

.px6 {
  padding-inline: 6px;
}

.py6 {
  padding-block: 6px;
}

@media (width < 1024px) {
  .m-mt6 {
    margin-top: 6px;
  }
  .m-ml6 {
    margin-left: 6px;
  }
  .m-mr6 {
    margin-right: 6px;
  }
  .m-mb6 {
    margin-bottom: 6px;
  }
  .m-mx6 {
    margin-inline: 6px;
  }
  .m-my6 {
    margin-block: 6px;
  }
}
@media (width < 1280px) {
  .t-mt6 {
    margin-top: 6px;
  }
  .t-ml6 {
    margin-left: 6px;
  }
  .t-mr6 {
    margin-right: 6px;
  }
  .t-mb6 {
    margin-bottom: 6px;
  }
  .t-mx6 {
    margin-inline: 6px;
  }
  .t-my6 {
    margin-block: 6px;
  }
}
@layer utillity.radius {
  .rounded-2 {
    border-radius: 0.2rem;
  }
  .rounded-4 {
    border-radius: 0.4rem;
  }
  .rounded-5 {
    border-radius: 0.5rem;
  }
  .rounded-6 {
    border-radius: 0.6rem;
  }
  .rounded-full {
    border-radius: calc(infinity * 1rem);
  }
}
@layer print {
  @media print {
    .header,
    .footer,
    .visual {
      display: none;
    }
    .page-break {
      page-break-before: always;
    }
  }
  @page {
    margin: 1cm 2cm;
  }
  .print {
    display: block;
  }
  @media screen {
    .print {
      display: none;
    }
  }
}
@layer molecules.badge {
  .badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .badge.small {
    padding: 0 12px;
    height: 34px;
    border: 1px solid;
    line-height: 1;
    border-radius: 34px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .badge.regular {
    padding: 0 20px;
    height: 40px;
    border: 1px solid;
    line-height: 1;
    border-radius: 40px;
    box-sizing: border-box;
    font-size: 16px;
  }
  .badge.gray {
    background: #ccc;
    border-color: #ccc;
    color: #fff;
  }
  .badge.black {
    background: #000;
    border-color: #000;
    color: #fff;
  }
}
@layer molecules.button {
  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 1rem;
  }
  .btn.primary {
    border-color: #000;
    background-color: #000;
    color: #fff;
    transition: 0.4s;
  }
  .btn.primary:hover {
    border-color: #000;
    background-color: #c6c6c6;
    color: #fff;
  }
  .btn.primary:active {
    border-color: #000;
    background-color: #c6c6c6;
    color: #fff;
  }
  .btn.primary:focus {
    border-color: #000;
    background-color: #c6c6c6;
    color: #fff;
  }
  .btn.secondary {
    border-color: #ccc;
    background-color: #f0f0f0;
    color: #333;
    transition: 0.4s;
  }
  .btn.secondary:hover {
    border-color: #bbb;
    background-color: #e0e0e0;
    color: #222;
  }
  .btn.secondary:active {
    border-color: #bbb;
    background-color: #e0e0e0;
    color: #222;
  }
  .btn.secondary:focus {
    border-color: #bbb;
    background-color: #e0e0e0;
    color: #222;
  }
  .btn.base {
    font-size: 11px;
    height: 41px;
    border: 1px;
    padding-inline: 29.7px;
  }
  .btn.lg {
    font-size: 28px;
    height: 85px;
    border: 1px;
    padding-inline: 12px;
  }
  .btn.ico1::after {
    content: "";
    width: 1rem;
    height: 2rem;
    background: url(../images/ico.svg) no-repeat 0 0;
  }
  .btn.ico2::before {
    content: "";
    width: 1rem;
    height: 2rem;
    background: url(../images/ico.svg) no-repeat 0 0;
  }
}
@layer molecules.button {
  .ico.xs {
    --icon-size: 1.5rem;
  }
  .ico.sm {
    --icon-size: 1.6rem;
  }
  .ico.base {
    --icon-size: 2rem;
  }
  .ico.md {
    --icon-size: 2.5rem;
  }
  .ico.lg {
    --icon-size: 2.8rem;
  }
  .arrowdown {
    width: var(--icon-size, 3rem);
    background: url(../images/ico_select.svg) no-repeat center / contain;
  }
}
@layer atom.text-field {
  .text-field {
    padding-inline: 1rem;
    width: auto;
    height: 4rem;
    border: 1px solid var(--gray500);
    border-radius: 0.4rem;
    box-sizing: border-box;
    color: var(--gray700);
    font-size: 1.4rem;
  }
  .text-field::placeholder {
    color: var(--gray500);
  }
  .text-field:hover {
    border-color: var(--gray800);
  }
  .text-field:focus {
    border-color: var(--gray800);
    outline: none;
  }
  .text-field:disabled {
    opacity: 0.4;
  }
  .text-field.error {
    border: 1px solid var(--danger);
    color: var(--danger);
  }
  .text-field.sm {
    height: 3.5rem;
    font-size: 1.2rem;
  }
  .text-field.lg {
    height: 5rem;
    font-size: 1.6rem;
  }
  .text-field.fullsize {
    width: 100%;
  }
}
@layer molecules.select {
  .select {
    height: 40px;
    padding-inline: 16px 44px;
    border-radius: 8px;
    border: 1px solid silver;
    background: url(../images/ico_select.svg) no-repeat right 16px center #fff;
    background-size: 20px;
    color: #1d1d1d;
    font-size: 19px;
    appearance: none;
  }
  .select.sm {
    height: 32px;
    font-size: 15px;
    background-size: 16px;
  }
  .select.lg {
    height: 48px;
    font-size: 21px;
    background-size: 24px;
  }
}
@layer atom.choice {
  .radio {
    display: inline-flex;
    align-items: center;
  }
  .radio input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .radio input:checked + label {
    color: tomato;
    background: url(../images/ico_radio_on.svg) no-repeat left / contain;
  }
  .radio input:focus + label {
    outline: 2px solid #000;
    border-radius: 2px;
  }
  .radio label {
    background: url(../images/ico_radio_off.svg) no-repeat left / contain;
    padding-left: var(--pl, 32px);
    font-size: 19px;
    color: gray;
    height: 24px;
    align-content: center;
  }
  .radio:has(label:empty) {
    --pl: 24px;
  }
  .radio.sm label {
    font-size: 15px;
    padding-left: 24px;
    height: 20px;
  }
  .radio.lg label {
    font-size: 21px;
    padding-left: 40px;
    height: 28px;
  }
  .checkbox {
    display: inline-flex;
    align-items: center;
  }
  .checkbox input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .checkbox input:checked + label {
    color: tomato;
    background: url(../images/ico_check_on.svg) no-repeat left / contain;
  }
  .checkbox input:focus + label {
    outline: 2px solid #000;
    border-radius: 2px;
  }
  .checkbox label {
    background: url(../images/ico_check_off.svg) no-repeat left / contain;
    padding-left: var(--pl, 32px);
    font-size: 19px;
    color: gray;
    height: 24px;
    align-content: center;
  }
  .checkbox:has(label:empty) {
    --pl: 24px;
  }
  .checkbox.sm label {
    font-size: 15px;
    padding-left: 24px;
    height: 20px;
  }
  .checkbox.lg label {
    font-size: 21px;
    padding-left: 40px;
    height: 28px;
  }
}
@layer molecules.text-list {
  .list-type1 {
    --color: var(--gray700);
    line-height: 180%;
    letter-spacing: -0.1rem;
    display: grid;
    gap: 0;
  }
  .list-type1 > li {
    display: grid;
    grid-template-columns: 1.6rem 1fr;
  }
  .list-type1 > li::before {
    translate: 0 1.4rem;
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--gray700);
    border-radius: calc(infinity * 1rem);
  }
  .list-type2 {
    display: grid;
    gap: 0;
  }
  .list-type2 > li {
    display: grid;
    grid-template-columns: 1.6rem 1fr;
  }
  .list-type2 > li::before {
    translate: 0 -0.2rem;
    content: "-";
  }
  .list-type3 {
    display: grid;
    gap: 0;
  }
  .list-type3 > li {
    display: grid;
    grid-template-columns: 1.8rem 1fr;
  }
  .list-type3 > li::before {
    translate: 0 0rem;
    content: "※";
  }
  .list-type4 {
    display: grid;
    gap: 0;
  }
  .list-type4 > li {
    display: grid;
    grid-template-columns: 1.8rem 1fr;
  }
  .list-type4 > li::before {
    translate: 0 0.9rem;
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    background: url(../images/ico_select.svg) no-repeat center / contain;
  }
}
@layer molecules.pipe {
  .pipe-type1 {
    display: flex;
    align-items: center;
  }
  .pipe-type1 > div + div {
    display: flex;
    align-items: center;
  }
  .pipe-type1 > div + div::before {
    content: "";
    width: 1px;
    height: 10px;
    margin-inline: 10px;
    background-color: red;
  }
}
@layer molecules.navigation {
  .gnb.type1 {
    display: flex;
    font-size: 1.6rem;
    gap: 30px;
  }
  .gnb.type1 .depth {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.5s;
    position: absolute;
  }
  .gnb.type1 .depth > ul {
    overflow: hidden;
  }
  .gnb.type1 .depth a {
    white-space: nowrap;
  }
  .gnb.type1 > li:has(a:focus) .depth, .gnb.type1 > li:hover .depth {
    grid-template-rows: 1fr;
  }
  .gnb.type1 .depth:has(a:focus) {
    grid-template-rows: 1fr;
  }
  .gnb.type2 {
    display: flex;
    font-size: 1.6rem;
    gap: 30px;
  }
  .gnb.type2 .depth {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.5s;
    position: absolute;
  }
  .gnb.type2 .depth > ul {
    overflow: hidden;
  }
  .gnb.type2 .depth a {
    white-space: nowrap;
  }
  .gnb.type2:has(a:focus) .depth, .gnb.type2:hover .depth {
    grid-template-rows: 1fr;
  }
  .gnb.type3 {
    display: flex;
    anchor-name: --gnb;
    font-size: 1.6rem;
    gap: 30px;
  }
  .gnb.type3 .depth {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.5s;
    position: absolute;
  }
  .gnb.type3 .depth > ul {
    overflow: hidden;
  }
  .gnb.type3 .depth a {
    white-space: nowrap;
  }
  .gnb.type3:has(a:focus) .depth, .gnb.type3:hover .depth {
    grid-template-rows: 1fr;
  }
  .gnb.type3 .depth > ul {
    anchor-name: --depth;
  }
  .gnb.type3::after {
    content: "";
    height: anchor-size(--depth);
    position: absolute;
    z-index: -1;
    inset: anchor(--gnb bottom) 0 auto 0;
    background-color: var(--bgColor, rgba(0, 0, 0, 0.07));
  }
  .snb {
    font-size: 1.6rem;
    interpolate-size: allow-keywords;
  }
  .snb details::details-content {
    overflow: hidden;
    block-size: 0;
    transition: block-size 0.5s, content-visibility 0.5s;
    transition-behavior: allow-discrete;
  }
  .snb details[open]::details-content {
    block-size: auto;
  }
}
@layer molecules.chip {
  .chip-type1 {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .chip-type1 input {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .chip-type1 input:checked + label {
    border-color: #000;
    background-color: #000;
    color: #fff;
  }
  .chip-type1 input:focus + label {
    outline: 2px solid #000;
    outline-offset: 2px;
  }
  .chip-type1 label {
    padding: 4px 10px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 100px;
    font-size: 16px;
    color: #000;
  }
}
@layer molecules.switch {
  .switch-type1 input {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .switch-type1 input:checked + label {
    background-color: var(--primary);
    justify-content: start;
  }
  .switch-type1 input:checked + label::before {
    left: 100%;
    translate: calc(-100% - 2px) -50%;
    background-color: var(--white);
  }
  .switch-type1 input:checked + label::after {
    content: attr(data-on);
  }
  .switch-type1 input:focus + label {
    outline: 2px solid #000;
  }
  .switch-type1 label {
    position: relative;
    z-index: 10;
    display: flex;
    border-radius: 20px;
    width: 84px;
    height: 30px;
    padding: 4px calc(4px * 4);
    border: 1px solid var(--gray400);
    align-items: center;
    justify-content: end;
    transition: 0.4s;
    background-color: var(--gray700);
    box-sizing: border-box;
  }
  .switch-type1 label::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 50%;
    translate: 0 -50%;
    width: calc(30px - 4px * 3);
    height: calc(30px - 4px * 3);
    border-radius: 100%;
    background-color: var(--gray300);
    transition: 0.4s;
  }
  .switch-type1 label::after {
    content: attr(data-off);
    text-align: center;
    white-space: nowrap;
    line-height: 1;
    transition: 0.4s;
    font-size: 14px;
    color: var(--white);
  }
}
@layer molecules.date {
  .date-type1 {
    position: relative;
    padding-inline: 10px 10px;
    border: 1px solid var(--gray400);
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
  }
  .date-type1::-webkit-calendar-picker-indicator {
    position: absolute;
    inset: 0;
    background: none;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .date-type1::after {
    content: attr(data-placeholder);
    position: absolute;
    left: 10px;
    top: 50%;
    translate: 0 -50%;
  }
  .date-type1::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(../images/ico_select.svg) no-repeat right 10px center / 15px auto var(--white);
  }
  .date-type1:valid::after {
    display: none;
  }
  .date-type1:valid::before {
    background-color: transparent;
  }
  .date-type1.sm {
    height: 32px;
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 6px;
  }
}
@layer molecules.floatingLabel {
  .floating-label {
    position: relative;
    font-size: 16px;
  }
  .floating-label input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--gray700);
    font-size: 16px;
    box-sizing: border-box;
  }
  .floating-label label {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: 0.3s ease-out;
    color: var(--gray600);
    background-color: white;
  }
  .floating-label input:focus + label,
  .floating-label input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 12px;
    color: var(--blue400);
    padding: 4px 10px;
  }
}
@layer organisms.table {
  .table-type1 th,
  .table-type1 td {
    border: 1px solid var(--gray400);
  }
  .table-type2 th,
  .table-type2 td {
    border: 1px solid var(--gray400);
  }
}
[popovertarget=popup] {
  anchor-name: --popup;
}

#popup {
  inset: auto auto anchor(--popup top) anchor(--popup 50%);
  translate: -50%;
  translate: -50% -1rem;
}

/*# sourceMappingURL=style.css.map */
