@mixin gnb($type, $depthClassName) {
  display: flex;
  .#{$depthClassName} {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.5s;
    position: absolute;
    > ul {
      overflow: hidden;
    }
    a {
      white-space: nowrap;
    }
  }
  @if $type == 'type1' {
    > li {
      &:has(a:focus),
      &:hover {
        .#{$depthClassName} {
          grid-template-rows: 1fr;
        }
      }
    }
    .#{$depthClassName} {
      &:has(a:focus) {
        grid-template-rows: 1fr;
      }
    }
  } @else if $type == 'type2' {
    &:has(a:focus),
    &:hover {
      .#{$depthClassName} {
        grid-template-rows: 1fr;
      }
    }
  } @else if $type == 'type3' {
    anchor-name: --gnb;
    &:has(a:focus),
    &:hover {
      .#{$depthClassName} {
        grid-template-rows: 1fr;
      }
    }
    .#{$depthClassName} {
      > ul {
        anchor-name: --depth;
      }
    }
    &::after {
      content: '';
      height: anchor-size(--depth);
      position: absolute;
      z-index: -1;
      inset: anchor(--gnb bottom) 0 auto 0;
      background-color: var(--bgColor, rgba(0, 0, 0, 0.07));
    }
  }
  @content;
}

.gnb {
  &.type1 {
    @include gnb('type1', 'depth') {
      gap: 30px;
    }
  }
  &.type2 {
    @include gnb('type2', 'depth') {
      gap: 30px;
    }
  }
  &.type3 {
    @include gnb('type3', 'depth') {
      gap: 30px;
    }
  }
}

@mixin snb() {
  interpolate-size: allow-keywords;

  details {
    &::details-content {
      overflow: hidden;
      block-size: 0;
      transition: block-size 0.5s, content-visibility 0.5s;
      transition-behavior: allow-discrete;
    }
    &[open] {
      &::details-content {
        block-size: auto;
      }
    }
  }
}

.snb {
  @include snb();
}
