@use 'sass:list';
@use '../abstract/' as *;

$chip: (
  chip-type1: (
    borderOnColor: #000,
    borderOffColor: #000,
    fontOnColor: #fff,
    fontOffColor: #000,
    bgOnColor: #000,
    bgOffColor: #fff,
    px: unit(10),
    py: unit(4),
    fontSize: unit(16),
    rounded: unit(100),
    gap: unit(5),
    focus: (
      outline: 2px solid #000,
      outlineOffset: 2px,
    ),
  ),
);

@layer molecules.chip {
  @each $item in $chip {
    $data: list.nth($item, 1);
    @include chip($chip, $data);
  }
}
