@use 'sass:list';
@use '../abstract/' as *;

$choice: (
  radio: (
    class: '.radio',
    base: (
      offImage: 'ico_radio_off.svg',
      onImage: 'ico_radio_on.svg',
      fontSize: 19px,
      offColor: gray,
      onColor: tomato,
      pl: 32px,
      height: 24px,
    ),
    variants: (
      sm: (
        fontSize: 15px,
        pl: 24px,
        height: 20px,
      ),
      lg: (
        fontSize: 21px,
        pl: 40px,
        height: 28px,
      ),
    ),
  ),
  checkbox: (
    class: '.checkbox',
    base: (
      offImage: 'ico_check_off.svg',
      onImage: 'ico_check_on.svg',
      fontSize: 19px,
      offColor: gray,
      onColor: tomato,
      pl: 32px,
      height: 24px,
    ),
    variants: (
      sm: (
        fontSize: 15px,
        pl: 24px,
        height: 20px,
      ),
      lg: (
        fontSize: 21px,
        pl: 40px,
        height: 28px,
      ),
    ),
  ),
);

@layer atom.choice {
  @each $selects in $choice {
    $select: list.nth($selects, 1);
    @include choice($choice, $select);
  }
}
