@use '../abstract/' as *;

$date: (
  date-type1: (
    fontSize: unit(16),
    paddingLeft: unit(10),
    paddingRight: unit(10),
    height: unit(40),
    rounded: unit(8),
    borderColor: var(--gray400),
    bg: 'ico_date.svg',
    bgSize: unit(20) auto,
  ),
  variants: (
    sm: (
      height: unit(32),
      font-size: unit(14),
      padding-left: unit(8),
      padding-right: unit(8),
      border-radius: unit(6),
    ),
  ),
);

@layer molecules.date {
  @include date($date, date-type1);
}
