@use '../abstract/' as *;

$dialog: (
  dialog: (
    position: left 50% top 50%,
    border: 2px solid var(--gray900),
    shadow: null,
  ),
  variants: (
    sm: (
      width: 32rem,
    ),
    base: (
      width: 48rem,
    ),
    md: (
      width: 57rem,
    ),
  ),
);

@include dialog($dialog, dialog, true, true);
