@use '../abstract/' as *;
@layer molecules.navigation {
  .gnb {
    &.type1 {
      @include gnb('type1', 'depth') {
        font-size: 1.6rem;
        gap: 30px;
      }
    }
    &.type2 {
      @include gnb('type2', 'depth') {
        font-size: 1.6rem;
        gap: 30px;
      }
    }
    &.type3 {
      @include gnb('type3', 'depth') {
        font-size: 1.6rem;
        gap: 30px;
      }
    }
  }

  .snb {
    font-size: 1.6rem;
    @include snb();
  }
}
