@use '../abstract/' as *;

$listStyle: (
  type1: (
    marker: (
      type: 'dot',
      bg: var(--gray700),
      width: 0.6rem,
      height: 0.6rem,
      radius: fullsize,
      gap: 0.5rem,
      pt: 0.6rem,
    ),
  ),
  type2: (
    marker: (
      type: 'dot',
      bg: var(--gray700),
      width: 0.4rem,
      height: 0.4rem,
      radius: 0,
      gap: 0.5rem,
      pt: 0.7rem,
    ),
  ),
  type3: (
    marker: (
      type: 'dash',
      bg: var(--gray700),
      // width: 0.6rem,
      // height: 0.6rem,
      // radius: fullsize,
      gap: 0.5rem,
      pt: 0,
    ),
  ),
  type4: (
    marker: (
      type: 'bill',
      bg: var(--gray700),
      // width: 0.6rem,
      // height: 0.6rem,
      // radius: fullsize,
      gap: 0.5rem,
      pt: 0,
    ),
  ),
  type5: (
    marker: (
      type: 'star',
      bg: var(--gray700),
      // width: 0.6rem,
      // height: 0.6rem,
      // radius: fullsize,
      gap: 0.5rem,
      pt: 0.2rem,
    ),
  ),
  type6: (
    marker: (
      type: 'img',
      bg: 'ico_select.svg',
      width: 1rem,
      height: 1rem,
      radius: 0,
      gap: 0.5rem,
      pt: 0.4rem,
    ),
  ),
);

@layer molecules.text-list {
  @include listStyle($listStyle, type1);
  @include listStyle($listStyle, type2);
  @include listStyle($listStyle, type3);
  @include listStyle($listStyle, type4);
  @include listStyle($listStyle, type5);
  @include listStyle($listStyle, type6);
}
