@use 'sass:map';
@use './background' as *;

@mixin buttonSize($map, $name) {
  $data: map.get($map, $name);

  &.#{$name} {
    font-size: map.get($data, fontSize);
    height: map.get($data, height);
    border: map.get($data, border);
    padding-inline: map.get($data, padding);
  }
}

@mixin buttonColor($map, $name) {
  $data: map.get($map, $name);

  &.#{$name} {
    border-color: map.get($data, borderColor);
    background-color: map.get($data, bgColor);
    color: map.get($data, color);
    transition: 0.4s;
    &:hover {
      border-color: map.get($data, hoverBorderColor);
      background-color: map.get($data, hoverBgColor);
      color: map.get($data, hoverColor);
    }
    &:active {
      border-color: map.get($data, activeBorderColor);
      background-color: map.get($data, activeBgColor);
      color: map.get($data, activeColor);
    }
    &:focus {
      border-color: map.get($data, focusBorderColor);
      background-color: map.get($data, focusBgColor);
      color: map.get($data, focusColor);
    }
  }
}

@mixin btnIcon($map) {
  content: '';
  width: map.get($map, width);
  height: map.get($map, height);
  @include background(map.get($map, bgImg));
}

@mixin buttonIcon($map, $number) {
  $data: map.get($map, $number);

  &.ico#{$number} {
    @if map.get($data, direction) == 'b' or map.get($data, direction) == 'before' {
      &::before {
        @include btnIcon($data);
      }
    } @else if map.get($data, direction) == 'a' or map.get($data, direction) == 'after' {
      &::after {
        @include btnIcon($data);
      }
    }
  }
}
