@use 'sass:list';
@use './background' as *;

@mixin pipe($childTagName, $method, $width, $height, $bg, $gap) {
  @if not list.index((line, l, bg, img, image), $method) {
    @error "#{$method}는 line, l, bg, img, image중 하나의 값을 넣어야 합니다.";
  }

  display: flex;
  align-items: center;
  > #{$childTagName} {
    + #{$childTagName} {
      display: flex;
      align-items: center;
      &::before {
        content: '';
        width: $width;
        height: $height;
        margin-inline: $gap;

        @if $method == 'line' or $method == 'l' {
          background-color: $bg;
        } @else if $method == 'bg' or $method == 'img' or $method == 'image' {
          @include background($bg);
        }
      }
    }
  }
}
