@use 'sass:meta';

@mixin radius($numbers, $unit: rem) {
  @if meta.type-of($numbers) != list {
    @error "#{$numbers}는 list형 데이터가 아닙니다.";
  }
  $initialCount: 1;

  @each $item in $numbers {
    $className: $item;
    $number: $item;

    @if $unit == rem {
      $number: calc($item / 10);
    }
    @if $unit == vw {
      $number: calc(($item / 1920) * 100vw);
    }
    .rounded#{$className} {
      border-radius: #{$number}#{$unit};
    }
  }
  .rounded-full {
    border-radius: calc(infinity * #{$initialCount}#{$unit});
  }
}
