@use 'sass:map';

@mixin select($map, $design: default) {
  $style: map.get($map, $design);
  $class: map.get($style, class);
  $base: map.get($style, base);
  $variants: map.get($style, variants);

  #{$class} {
    height: map.get($base, height);
    padding-inline: map.get($base, pl) map.get($base, pr);
    border-radius: map.get($base, rounded);
    border: 1px solid map.get($base, borderColor);
    background: map.get($base, arrowImage) no-repeat right map.get($base, pl) center
      map.get($base, bgColor);
    background-size: map.get($base, bgSize);
    color: map.get($base, fontColor);
    font-size: map.get($base, fontSize);
    appearance: none;

    @each $name, $variant in $variants {
      &.#{$name} {
        @each $prop, $value in $variant {
          @if $prop == bgSize {
            background-size: $value;
          } @else {
            #{$prop}: $value;
          }
        }
      }
    }
  }
}
