@use 'sass:map';

@mixin text-field($map, $design: default) {
  $style: map.get($map, $design);
  $class: map.get($style, class);
  $base: map.get($style, base);
  $variants: map.get($style, variants);

  // 기본 스타일
  #{$class} {
    padding-inline: map.get($base, paddingX);
    width: map.get($base, width);
    height: map.get($base, height);
    border: 1px solid map.get($base, borderColor);
    border-radius: map.get($base, rounded);
    box-sizing: border-box;
    color: map.get($base, color);
    font-size: map.get($base, fontSize);

    &::placeholder {
      color: map.get($base, placeholderColor);
    }
    &:hover {
      border-color: map.get($base, hoverBorderColor);
    }
    &:focus {
      border-color: map.get($base, focusBorderColor);
      outline: none;
    }
    &:disabled {
      opacity: map.get($base, disabled);
    }
    &.error {
      border: 1px solid map.get($base, errorBorderColor);
      color: map.get($base, errorColor);
    }
    @each $name, $variant in $variants {
      &.#{$name} {
        @each $prop, $value in $variant {
          #{$prop}: $value;
        }
      }
    }
  }
}
